

body {
    margin: 0;
    background-color: #303030;
}

.bg {
    background-image: url('./img/beach-bg-2.png');
    background-size:cover;
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: white;
    gap: 2rem;
    text-shadow: -1px 2px 2px #6B6B6B;
    text-align: center;
}

.spacer-1 {
    height: 15%;
}

.title {
    font-size: xx-large;
    width: 30rem;
}

.description {
    font-size: large;
    width: 30rem;
}

.contact-button {
    background-color: white;
    border-radius: 16px;
    width: 30rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0;
}

.email  {
    flex: 3;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-left: 2%;
    border:0;
    outline:0;
}

.join-button {
    float: 1;
    background-color: #5C59E4;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 0px;
    appearance: none;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 8px;
    color: white;
    margin: 0;
}

.join-button:hover {
    background-color: #3d3c9c;
    cursor: pointer;
}

.join-button:active {
    background-color: #2a296b;
}