<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our progress</h2>
                    <p><br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <a class="page-scroll" href="#description">
                                <div class="timeline-image">
                                    <div class="img-circle img-responsive .color-1">
                                    </div>
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>17/10/2022</h4>
                                    <h4 class="subheading">Project description</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Milestone 1</p>
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <a class="page-scroll" href="#m2">
                                <div class="timeline-image color-1">
                                    <div class="img-circle img-responsive">
                                    </div>
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>31/10/2022</h4>
                                    <h4 class="subheading">Validation 1 (idea)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Milestone 2</p>
                                </div>
                            </div>
                        </li>
                   
                        </ul>
                        <ul class="timeline">
                            <li>
                                <a class="page-scroll" href="#m3">
                                    <div class="timeline-image color-2">
                                        <div class="img-circle img-responsive">
                                        </div>
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>07/11/2022</h4>
                                        <h4 class="subheading">Mockups and Landing Page</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Milestone 3</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <a class="page-scroll" href="#m4">
                                    <div class="timeline-image color-3">
                                        <div class="img-circle img-responsive">
                                        </div>
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>14/11/2022</h4>
                                        <h4 class="subheading">Personna, User Flows, User Stories</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Milestone 4</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
      
                        
                        <ul class="timeline">
                            <li>
                                <a class="page-scroll" href="#m5">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>5/12/2022</h4>
                                        <h4 class="subheading">Validation 2 (design, UX)</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Milestone 5</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <a class="page-scroll" href="#m6">
                                    <div class="timeline-image color-1">
                                        <img class="img-circle img-responsive " alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>09/01/2023</h4>
                                        <h4 class="subheading">Market Research</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Milestone 6</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="timeline">
                            <li>
                                <a class="page-scroll" href="#m7">
                                    <div class="timeline-image color-2">
                                        <img class="img-circle img-responsive" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>09/01/2023</h4>
                                        <h4 class="subheading">MVP</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Milestone 7</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <a class="page-scroll" href="#m8">
                                    <div class="timeline-image color-3">
                                        <img class="img-circle img-responsive" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>09/01/2023</h4>
                                        <h4 class="subheading">First Sale</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Milestone 8</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="timeline">
                            <li>
                                <a class="page-scroll" href="#m9">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>09/01/2023</h4>
                                        <h4 class="subheading">Final Presentation</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Milestone 9</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <a class="page-scroll" href="#m11">
                                    <div class="timeline-image color-1">
                                        <img class="img-circle img-responsive" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>17/01/2023</h4>
                                        <h4 class="subheading">Finalize Fiki</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Milestone 11</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </section>