<!-- description Section -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Project description</h2>
                    <h4>Milestone 1</h3>
                    <p><br></p>
                </div>
            </div>

            <!-- Problem -->
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- <i class="fa-solid fa-comments-question text-primary"></i> -->
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <i class="fas fa-6x fa-question text-primary"></i>
                    <h4 class="service-heading">Problem</h4>
                    <p class="text-muted">Organising a vacation with a group of people can be a demanding process. Every person has specific needs and interests and it can be difficult to make widely-accepted decisions regarding aspects such as transportation and accommodation. Moreover, nowadays the communication in a group is done through messaging applications, where it can be hard to reach all members at the same time and keep track of important information.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Solution -->
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-lightbulb text-primary"></i>
                    <h4 class="service-heading">Solution</h4>
                    <p class="text-muted">Holidaze is a group vacation planning application which aims to help you and your friends organise your next holiday as easily and efficiently as possible. Our main value propositions come from the focus on collaboration: users can highlight their requirements and come up with suggestions regarding aspects such as accommodation. Additionally, we provide a voting system which facilitates transparent decisions, as well as notifications and alerts to keep users up to date. Finally, we enable members to build a personalised itinerary based on their interests.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Customer Segments -->
            <div class="row text-center">

                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-user-friends text-primary"></i>
                    <h4 class="service-heading">Customer Segments</h4>
                    <p class="text-muted">Holidaze is aimed at all groups of friends who want to plan their future vacation.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div> 

            <!-- Competition -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-award text-primary"></i>
                    <h4 class="service-heading">Competition</h4>
                </div>
                <div class="col-md-4"></div>
            </div>
            <p><br/></p>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-2 portofolio-item">
                    <a href="https://www.booking.com/">
                        <img src="img/logos/booking.png" class="img-responsive img-centered img-rounded" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <p class="text-muted">Booking</p>
                    </div>
                </div>
                <div class="col-md-2 portofolio-item">
                    <a href="https://christiantour.ro/">
                        <img src="img/logos/christian_tour.svg" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <p class="text-muted">Christian Tour</p>
                    </div>
                </div>
                <div class="col-md-2 portofolio-item">
                    <a href="https://play.google.com/store/apps/details?id=com.travefy.pro&hl=ro&gl=US">
                        <img src="img/logos/travefy.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <p class="text-muted">Travefy</p>
                    </div>
                </div>
                <div class="col-md-2 portofolio-item">
                    <a href="https://tripplans.co/">
                        <img src="img/logos/tripplans.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <p class="text-muted">Trip Plans</p>
                    </div>
                </div>
                <div class="col-md-2"></div>
                
            </div>
            <p><br/></p>


            <!-- Advantages -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-plus text-primary"></i>
                    <h4 class="service-heading">Key Advantages</h4>
                </div>
                <div class="col-md-4"></div>
            </div>
            <p><br/></p>
            <div class="row text-center">
                <div class="col-md-2 portfolio-item"></div>
                <div class="col-md-4 portofolio-item">
                    <div class="portfolio-caption">
                        <img src="../img/icons/collaboration.png" class="img-responsive img-centered" width="128px"></img>
                        <p class="text-muted">Focus on collaboration</p>
                    </div>
                </div>
                <div class="col-md-4 portofolio-item">
                    <div class="portfolio-caption">
                        <img src="../img/icons/vote.png" class="img-responsive img-centered" width="128px"></img>
                        <p class="text-muted">Voting system</p>
                    </div>
                </div>
                <div class="col-md-2 portfolio-item"></div>
            </div>
            <p><br/></p>
            <div class="row text-center">
                <div class="col-md-2 portfolio-item"></div>
                <div class="col-md-4 portofolio-item">
                    <div class="portfolio-caption">
                        <img src="../img/icons/timetable.png" class="img-responsive img-centered" width="128px"></img>
                        <p class="text-muted">Personalized itinerary </p>
                    </div>
                </div>
                <div class="col-md-4 portofolio-item">
                    <div class="portfolio-caption">
                        <img src="../img/icons/people.png" class="img-responsive img-centered" width="128px"></img>
                        <p class="text-muted">Suitable for groups of any size </p>
                    </div>
                </div>
                <div class="col-md-2 portfolio-item"></div>
            </div>
            <p><br/></p>

            <!-- Key Metrics -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-chart-line text-primary"></i>
                    <h4 class="service-heading">Key Metrics</h4>                    
                        <li>User engagement</li>
                        <li>Group analytics</li>
                        <li>Revenue</li>
                        <li>Traffic</li>
                    <p><br/></p>
                </div>
                <div class="col-md-4"></div>
            </div>

            <!-- Cost Structure -->
            <div class="row text-center">    
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-receipt text-primary"></i>
                    <h4 class="service-heading">Cost Structure</h4>
                    </div>
                </div>
                
                <div class="col-md-8">
                    <img src="../img/stats/cost-structure.svg" height="500rem"></img>
                </div>
            </div> 
            
             <!-- Revenue streams -->
             <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-hand-holding-usd text-primary"></i>
                    <h4 class="service-heading">Revenue streams</h4>
                        <li>Advertising</li>
                        <li>Pro subscription plan</li>
                        <li>Sponsored partnerships for promoting accommodations, flights and activities</li>
                </div>
                <div class="col-md-4"></div>
            </div>
      
        </div>
    </section>