<!-- description Section -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Project description</h2>
                    <h4>Milestone 1</h3>
                    <p><br></p>
                </div>
            </div>

            <!-- Problem -->
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- <i class="fa-solid fa-comments-question text-primary"></i> -->
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <i class="fas fa-6x fa-question text-primary"></i>
                    <h4 class="service-heading">Problem</h4>
                    <p class="text-muted">dsfsdfsd</p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Solution -->
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-lightbulb text-primary"></i>
                    <h4 class="service-heading">Solution</h4>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Customer Segments -->
            <div class="row text-center">

                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-user-friends text-primary"></i>
                    <h4 class="service-heading">Customer Segments</h4>
                </div>
                <div class="col-md-2"></div>
            </div> 

            <!-- Competition -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-award text-primary"></i>
                    <h4 class="service-heading">Competition</h4>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-2 portofolio-item">
                    <a href="https://www.booking.com/">
                        <img src="img/logos/booking.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <p class="text-muted">Booking</p>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>


            <!-- Advantages -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-plus text-primary"></i>
                    <h4 class="service-heading">Key Advantages</h4>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-3"></div>
                <div class="col-md-3 portofolio-item">
                    <div class="portfolio-caption">
                        <p class="text-muted">abd.</p>
                    </div>
                </div>
                <div class="col-md-3 portofolio-item">
                    <div class="portfolio-caption">
                        <p class="text-muted">dffd.</p>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

            <!-- Key Metrics -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-chart-line text-primary"></i>
                    <h4 class="service-heading">Key Metrics</h4>
                    
                </div>
                <div class="col-md-4"></div>
            </div>

            <!-- Cost Structure -->
            <div class="row text-center">    
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-receipt text-primary"></i>
                    <h4 class="service-heading">Cost Structure</h4>
            
                </div>
                <div class="col-md-4"></div>
            </div> 
            
             <!-- Revenue streams -->
             <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <i class="fas fa-6x fa-hand-holding-usd text-primary"></i>
                    <h4 class="service-heading">Revenue streams</h4>
                    
                </div>
                <div class="col-md-4"></div>
            </div>
      
        </div>
    </section>