<!-- description Section -->
<section id="m11">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Milestone 11</h2>
                <p>We made small changes to the fiki and made sure that the information is up to date. The fiki should reflect our journey and the progress we have made so far.</p>
                <p>We received some useful feedback on the final presentation and we hope we can incorporate those suggestions in the future.</p>
            </div>
        </div>
    </div>
</section>
