<!-- description Section -->
    <section id="m2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Milestone 2</h2>
                    <p><br></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-question text-primary"></i>
                    <h4 class="service-heading">How we identified the problem</h4>
                    <p class="text-muted">This summer we were trying to plan a trip to Greece with a group of around 10 friends and we encountered a lot of difficulties when trying to organise the vacation.</p>
                    <p>We were chatting using a messaging app and most of the time only 2-3 people got involved and the rest were not contributing in any way. This made it hard to understand people’s requirements and to come up with a solution that everybody agreed with.</p>
                    <p>Another difficult aspect was related to making decisions. The communication was asynchronous, so making decisions took a long time because we had to reach out to everybody. There was also quite a lot of unrelated discussion on this group, so it was hard to keep track of important information.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-lightbulb text-primary"></i>
                    <h4 class="service-heading">Initial solution</h4>
                    <p class="text-muted">Our solution is to make a collaborative application which groups can use to efficiently organise their vacation.</p>
                    <p>First of all, we will offer a requirement discovery system, where people can highlight their needs. This will clearly state what the group is looking for and will contribute to a faster searching process for aspects such as accommodation.</p>
                    <p>Furthermore, the application will offer a transparent voting system that will allow users to express their opinion and make decisions faster. The voting system would be a fundamental feature of the application and it could be used to decide anything regarding the trip, for example the destination, flights, activities, duration and others.</p>
                    <p>Finally, we acknowledge that people might not agree with all of the decisions made by the group. As such, we would offer support for a personalised itinerary, so that people could still have a certain degree of independence. For example, when going on a trip to the mountains, some people would like to go hiking and some people would rather make a barbeque.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-clipboard-list text-primary"></i>
                    <h4 class="service-heading">Customer discovery plan</h4>
                    <p class="text-muted">In order to validate our idea, we wanted to see if other people also faced problems when they planned trips in a group. We were also interested in the details of the issues and how they managed to overcome them.                    </p>
                    <p>First of all, we started by writing a set of relevant questions and making a Google Form so that we could collect and analyse the responses. </p>
                    <p>Secondly, we also conducted a few interviews with people that travel often in order to get more details about their key to successful vacations.</p><p>Finally, we acknowledge that people might not agree with all of the decisions made by the group. As such, we would offer support for a personalised itinerary, so that people could still have a certain degree of independence. For example, when going on a trip to the mountains, some people would like to go hiking and some people would rather make a barbeque.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-stream text-primary"></i>
                    <h4 class="service-heading">Forms</h4>
                    <div class="row text-center">
                        <p class="text-muted">Our team created a form to be completed by people of different ages and with different backgrounds so we could understand the most important aspects that are discussed when organising a holiday. We distributed this form mainly through Whatsapp.</p>
                        <div class="col-md-8">
                            <img src="..\img\forms\1_group_holiday_questionnaire.png" width="500rem"></img>
                        </div>
                        <p><br/></p>
                    </div>
                    <div class="row text-center">
                        <p class="text-muted">Even though we tried to get answers from persons in different age groups, most of them (> 75%) came from people between 18 and 24 years old.</p>
                        <div class="col-md-8">
                            <img src="..\img\forms\2_how_old_are_you.png" width="500rem"></img>
                        </div>
                        <p><br/></p>
                    </div>
                    <p class="text-muted">Looking at the interest of the subjects, most of them are thinking actively about going on a vacation.</p>
                    <div class="col-md-8">
                        <img src="..\img\forms\3_how_important_is_travelling.png" width="500rem"></img>
                    </div>
                    <p><br/></p>
                    <p class="text-muted">When planning a vacation we see that most people are interested in the destination and cost.</p>
                    <div class="col-md-8">
                        <img src="..\img\forms\4_first_thing_you_think_about.png" width="500rem"></img>
                    </div>
                    <p><br/></p>
                    <p class="text-muted">Usually, the people that responded travel in small and medium groups (2 - 10 people) and organise their vacation by looking at different offers for accommodation and transportation and discussing them via messages, but might want to meet face-to-face or virtually.</p>
                    <div class="col-md-8">
                        <img src="..\img\forms\5_usually_travel.png" width="500rem"></img>
                    </div>
                    <div class="col-md-8">
                        <img src="..\img\forms\6_usually_organize.png" width="500rem"></img>
                    </div>
                    <div class="col-md-8">
                        <img src="..\img\forms\9_communicate.png" width="500rem"></img>
                    </div>
                    <p><br/></p>
                    <p class="text-muted">When it comes to planning the actual holiday, the problems are inevitable. One of the toughest steps is to decide and also this difficulty might come from weak communication in the group and different expectations of common requirements (budget, accommodation, destination, means of transportation, etc.)</p>
                    <div class="col-md-8">
                        <img src="..\img\forms\10_difficulties.png" width="500rem"></img>
                    </div>
                    <div class="col-md-8">
                        <img src="..\img\forms\11_agreeing.png" width="500rem"></img>
                    </div>
                    <p><br/></p>
                    <p class="text-muted">Most people would be comfortable with using a mobile travel application to plan their holiday.</p>
                    <div class="col-md-8">
                        <img src="..\img\forms\7_mobile_web.png" width="500rem"></img>
                    </div>
                    <div class="col-md-8">
                        <img src="..\img\forms\8_mobile_web.png" width="500rem"></img>
                    </div>
                    <p><br/></p>
                    <p class="text-muted">We also received multiple examples of how some groups planned their holidays and what specific difficulties they have encountered and how they overcame them.</p>
                    <div class="col-md-8">
                        <img src="..\img\forms\12_group_tavelling.png" width="500rem"></img>
                    </div>
                    <p class="text-muted"></p>
                    <div class="col-md-8">
                        <img src="..\img\forms\13_group_difficulties.png" width="500rem"></img>
                    </div>
                    <p class="text-muted"></p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-comments text-primary"></i>
                    <h4 class="service-heading">Interviews</h4>
                    <h5 class="service-heading">Interview 1</h5>
                    <p class="text-muted">The interview was conducted with a friend of our age (23) that travels often with a small group. A lot of the answers validated our initial assumptions regarding the most important problems when planning a trip with a group. She emphasised the idea that communicating with people and making them agree on certain things are a difficult task for anyone that wants to organise a trip. The solution to these issues was to put things to a vote.</p>
                    <p class="text-muted">One interesting observation was that not all people wanted to be actively involved in the process. Instead, it was more productive for a person to take responsibility and come up with a final proposal on which people to vote. If the group voted on every little aspect, the process would take forever. However, this required a good understanding of the people's needs.</p>
                    <p class="text-muted">We also got some insight into managing itineraries. Strictly managing things by the minute doesn't take into account unforeseen problems. It also doesn't take into account the fact that people want to do different things. With time and experience, the itinerary turned into more of a guideline of what could be done on the trip.</p>
                    <p><br/></p>
                    <h5 class="service-heading">Interview 2</h5>
                    <p class="text-muted">Our second interviewee was also a close friend, 23 years of age, that loves travelling with small groups of people. A travelling enthusiast, who prefers to plan out their vacation by themself and in advance. We've observed that the problem when planning their vacation comes mainly from the group's capabilities to make decisions straight. The process of bringing arguments and deciding on a topic such as going by plane or by car took too long and was very exhausting.</p>
                    <p class="text-muted">We've also noticed that their communication is driven through mobile apps (WhatsApp) and that they are familiar with and prefer mobile applications over web apps. However, when planning a trip with a larger group they have pointed out that people tend to be less noisy about their preferences at the beginning of the discussion and let others decide. All of this, only to come back later and complain about the decisions that have been made.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-clipboard-check text-primary"></i>
                    <h4 class="service-heading">Conclusions</h4>
                    <p class="text-muted">Putting together the responses from the Form and from the interviews we observe a clear lack of decision making. The larger the group, the more difficult it is to come to an agreement. This proves to be exhausting because you have to take into consideration multiple points of view and to compare them. By far the most difficult decisions to be made were destination, accomodation, means of transport and one hot topic was the cost. At the same time, communication proved to be a challenge as people forget to get involved.</p>
                    <p class="text-muted">In order to solve the difficutiles people face when trying to plan a vacation, a feature that we consider to be effective would be a voting system. To address the communication issue, this feature could rely on deadlines to motivate people to get involved.</p>
                    <p class="text-muted">From our perspective, backed up by the feedback we've got, a mobile app for planning holidays would be helpful for most groups that are looking to go on a vacation.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
    </div>
</section>