<!-- description Section -->
    <section id="m2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Milestone 2</h2>
                    <p><br></p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-question text-primary"></i>
                    <h4 class="service-heading">How we identified the problem</h4>
                    <p class="text-muted">This summer we were trying to plan a trip to Greece with a group of around 10 friends and we encountered a lot of difficulties when trying to organise the vacation.</p>
                    <p>We were chatting using a messaging app and most of the time only 2-3 people got involved and the rest were not contributing in any way. This made it hard to understand people’s requirements and to come up with a solution that everybody agreed with.</p>
                    <p>Another difficult aspect was related to making decisions. The communication was asynchronous, so making decisions took a long time because we had to reach out to everybody. There was also quite a lot of unrelated discussion on this group, so it was hard to keep track of important information.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-lightbulb text-primary"></i>
                    <h4 class="service-heading">Initial solution</h4>
                    <p class="text-muted">Our solution is to make a collaborative application which groups can use to efficiently organise their vacation.</p>
                    <p>First of all, we will offer a requirement discovery system, where people can highlight their needs. This will clearly state what the group is looking for and will contribute to a faster searching process for aspects such as accommodation.</p>
                    <p>Furthermore, the application will offer a transparent voting system that will allow users to express their opinion and make decisions faster. The voting system would be a fundamental feature of the application and it could be used to decide anything regarding the trip, for example the destination, flights, activities, duration and others.</p>
                    <p>Finally, we acknowledge that people might not agree with all of the decisions made by the group. As such, we would offer support for a personalised itinerary, so that people could still have a certain degree of independence. For example, when going on a trip to the mountains, some people would like to go hiking and some people would rather make a barbeque.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <i class="fas fa-6x fa-clipboard-list text-primary"></i>
                    <h4 class="service-heading">Customer discovery plan</h4>
                    <p class="text-muted">In order to validate our idea, we wanted to see if other people also faced problems when they planned trips in a group. We were also interested in the details of the issues and how they managed to overcome them.                    </p>
                    <p>First of all, we started by writing a set of relevant questions and making a Google Form so that we could collect and analyse the responses. </p>
                    <p>Secondly, we also conducted a few interviews with people that travel often in order to get more details about their key to successful vacations.</p><p>Finally, we acknowledge that people might not agree with all of the decisions made by the group. As such, we would offer support for a personalised itinerary, so that people could still have a certain degree of independence. For example, when going on a trip to the mountains, some people would like to go hiking and some people would rather make a barbeque.</p>
                    <p><br/></p>
                </div>
                <div class="col-md-2"></div>
            </div>
    </div>
</section>