<!-- description Section -->
    <section id="m3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Milestone 3</h2>
                    <a href="https://kaa7.github.io/landing"><h3>Landing page</h3></a>
                    <a href="https://kaa7.github.io/landing">
                        <img src="..\img\landing.png" width="1000rem"></img>
                    </a>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading"><br><br>Wireframes</h3>
                    <div>
                        Our wireframes were made using <a href="https://www.figma.com/file/hqSi8ttlPuKzQVvnlenFiW/Holidaze?node-id=0%3A1">Figma.</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><br>Login</h4>
                    <img src="..\img\wireframes\login.png" width="500rem" style="border: 1px solid #000"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">        
                    <h4 class="section-heading"><br>Register</h4>
                    <img src="..\img\wireframes\register.png" width="500rem" style="border: 1px solid #000"></img>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><br>Groups Page</h4>
                    <img src="..\img\wireframes\groups.png" width="500rem" style="border: 1px solid #000"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><br>Group Dashboard Page</h4>
                    <img src="..\img\wireframes\group_dashboard.png" width="500rem" style="border: 1px solid #000"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><br>Requirements Page</h4>
                    <img src="..\img\wireframes\requirements.png" width="500rem" style="border: 1px solid #000"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><br>Voting Page</h4>
                    <img src="..\img\wireframes\voting.png" width="500rem" style="border: 1px solid #000"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><br>Activities Page</h4>
                    <img src="..\img\wireframes\activities.png" width="500rem" style="border: 1px solid #000"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><br>Members Page</h4>
                    <img src="..\img\wireframes\members.png" width="500rem" style="border: 1px solid #000"></img>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading"><br>Calendar Page</h4>
                    <img src="..\img\wireframes\calendar.png" width="500rem" style="border: 1px solid #000"></img>
                </div>
            </div>
    </div>
</section>