<!-- description Section -->
    <section id="m3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Milestone 3</h2>
                    <a href="https://kaa7.github.io/landing"><h3>Landing page</h3></a>
                    <a href="https://kaa7.github.io/landing">
                        <img src="..\img\landing.png" width="1000rem"></img>
                    </a>
                    <h3>Mockups</h3>
                </div>
            </div>
    </div>
</section>