<!-- description Section -->
<section id="m5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Milestone 5</h2>
                <p><br></p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Landing page update</h4>
            <p class="text-muted">We upated the design of the landing page</p>
            <a href="https://kaa7.github.io/landing">
                <img src="..\img\landing-update.png" width="1000rem"></img>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Lead collection</h4>
            <p class="text-muted">We added a modal for collecting contact information for users which are interested in a newsletter.</p>
            <a href="https://kaa7.github.io/landing">
                <img src="..\img\landing-update-modal.png" width="1000rem"></img>
            </a>
            <p class="text-muted">We integrated with Formspree.</p>
            <a href="https://kaa7.github.io/landing">
                <img src="..\img\formspree.jpg" width="1000rem"></img>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Adding analytics</h4>
            <p class="text-muted">We added Google Analytis and Hotjar to the landing page</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Lead generation channels</h4>
            <p class="text-muted">We promoted our landing page on various WhatsApp groups and to people we know.</p>
            <div class="col-lg-12 text-center">
                <img src="../img/analytics/wapp.png" width="500rem"></img>
                <br/><br/>
            </div>
            <p class="text-muted">We also tried promoting on varius subreddits, but the posts were removed by their moderation team because it was self-promotion.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Analytics</h4>
            <p class="text-muted">We sent messages to approximately 100 people in total on Wapp. We got back around 20 site visits.</p>
            <div class="col-lg-12 text-center">
                <img src="../img/analytics/engagement.png" width="500rem"></img>
                <br/><br/>
            </div>
            <p class="text-muted">Some of the people we contacted live abroad and this shows up in the analytics.</p>
            <div class="col-lg-12 text-center">
                <img src="../img/analytics/country.png" width="500rem"></img>
                <br/><br/>
            </div>
            <p class="text-muted">Only 7 users engaged with the "Plan now" button. We also got a user which clicked on the CTA but did not want to sign up for the newsletter.</p>
            <div class="col-lg-12 text-center">
                <img src="../img/analytics/top-clicked.png" width="500rem"></img>
                <br/><br/>
            </div>
            <p class="text-muted">Most of the users were on mobile.</p>
            <div class="col-lg-12 text-center">
                <img src="../img/analytics/tech-breakdown.png" width="500rem"></img>
                <br/><br/>
            </div>
            <p class="text-muted">A HeatJar heatmap shows that some people click on the CTA only after scrolling down and reading through the entire landing page. We noticed this in some of the recordings as well.</p>
            <a href="https://insights.hotjar.com/r?site=3276110&recording=17841894845&token=6eb1f84779cc0055df4584692af9ff7d">HeatJar Recording</a>
            <div class="col-lg-12 text-center">
                <img src="../img/analytics/heatmap.jpg" width="500rem"></img>
                <br/><br/>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Discussion</h4>
            <p class="text-muted">Overall we are on the right track with the idea, we are not quite there yet as we are still assesing whether the idea should be shifted towards big companies and their holidays. We still think it would be an enjoyable experience on smaller and knitted groups, based on the feedback received.</p>
            <p class="text-muted">In terms of lead generation, promoting on WhatsApp groups can work somewhat well, but the results could end up being biased. For example, some of our closer friends were very curious about the site and spent more time than expected on it.</p>
            <p class="text-muted">It would be a good idea to also try promoting the landing page on some Facebook groups and to maybe use ads to generate some user traffic. However, we felt we weren't quite at that stage yet, we still have a few fix-ups to be made and we want to make a good impression on the possible customers.</p>
        </div>
    </div>
</section>
