<!-- description Section -->
<section id="m5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Milestone 5</h2>
                <p><br></p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Landing page update</h4>
            <p class="text-muted">We upated the design of the landing page</p>
            <a href="https://kaa7.github.io/landing">
                <img src="..\img\landing-update.png" width="1000rem"></img>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Lead collection</h4>
            <p class="text-muted">We added a modal for collecting contact information for users which are interested in a newsletter.</p>
            <a href="https://kaa7.github.io/landing">
                <img src="..\img\landing-update-modal.png" width="1000rem"></img>
            </a>
            <p class="text-muted">We integrated with Formspree.</p>
            <a href="https://kaa7.github.io/landing">
                <img src="..\img\formspree.jpg" width="1000rem"></img>
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Adding analytics</h4>
            <p class="text-muted">We added Google Analytis and Hotjar to the landing page</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Lead generation channels</h4>
            <p class="text-muted">We promoted our landing page on various WhatsApp groups.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Obtained analytics</h4>
            <p class="text-muted"></p>
        </div>
    </div>
</section>
