<!-- description Section -->
<section id="m6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Milestone 6</h2>
                <p><br></p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Our target market</h4>
            <p class="text-muted">To identify the target market we can take into consideration the population that travels on a year basis. Reviewing the <a href="https://ourworldindata.org/tourism">statistics</a> for global tourism we found out that in 2018 approximately 1.4 billion people travelled across the globe. If we would like to look only for the target market locally, in Romania the number of people that travelled in 2019 was around 1 million. Our initial thoughts are to first target the people in Romania and maybe later extend internationally.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Competition</h4>
            <p class="text-muted">On the international side of the traveling business, the number of competitors is approximately 200 thousands according to statista.com. To name the most used and well known of them: Booking, Airbnb, Expedia, Agoda, LastMinute, Kiwi, SkyScanner. On the other side, locally in Romania, we found that there are around 3400 travelling companies which shared a ~450million euro market in 2019 according to the <a href="https://insse.ro/cms/sites/default/files/field/publicatii/actiunile_turistice_organizate_de_agentiile_de_turism_2019.pdf">National Institute of Statistics</a>. The average comission that these travelling agencies apply on their sevices is 8,5%.</p>
            <p class="text-muted">1. Booking is an online travel and accommodation booking platform that allows users to find and book places to stay. It totals 100 million users and offers over 1.5 million properties and more than 28 million verified guest reviews.Booking makes it easy for travelers to find great deals on hotels, apartments, resorts, and more. Its interactive map feature and reviews from past guests also help travelers make the most informed decisions on where to stay. <b>Market share:</b> 70% in Europe, 1% in Romania</p>
            <p class="text-muted">2. Christian Tour is a local (Romanian) travelling agency founded in 1997 which became over the time the biggest charter vacation tour operator in Romania. With a fiscal value of over 60 million euro and 135 agencies spread around the country, it helps over 200.000 tourists plan their vacation. They have done a really good job with their marketing as they are well known for what they do in Romania. One advantage of this company that stands out is that they help people obtain visas for their destinations where needed. <b>Market share:</b> <a href="https://www.risco.ro/verifica-firma/christian76-tour-cui-9617078">18%</a> in Romania</p>
            <p class="text-muted">3. Travel Brands (Dertour) is a local travelling agency that acquired Dertour in 2020, one of the biggest romanian agencies. Opposing to Christian Tour in the last year (2021) they've reported losses accounting 1 million euro while having more than twice their peronnel. <b>Market share:</b> <a href="https://www.risco.ro/verifica-firma/travel-brands-s-a-cui-39257566">18%</a> in Romania</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Potential Market Share After Launch</h4>
            <p class="text-muted">We estimate that in the next five years the market could evolve into looking like this:</p>
            <ol style="list-style-type:none;">
                <li><ol style="list-style-type:none;">
                    <li>Year 1: 1000 target users</li>
                    <li>Christian tour: 20%</li>
                    <li>Dertour: 18%</li>
                    <li>Holidaze: 0.1%</li>
                </ol></li>
                <li><ol style="list-style-type:none;">
                    <li>Year 2: 4.000 target users</li>
                    <li>Christian tour: 22%</li>
                    <li>Dertour: 20%</li>
                    <li>Holidaze: 0.4%</li>
                </ol></li>
                <li><ol style="list-style-type:none;">
                    <li>Year 3: 15.000 target users</li>
                    <li>Christian tour: 25%</li>
                    <li>Dertour: 17%</li>
                    <li>Holidaze: 1.5%</li>
                </ol></li>
                <li><ol style="list-style-type:none;">
                    <li>Year 4: 50.000 target users</li>
                    <li>Christian tour: 22%</li>
                    <li>Dertour: 15%</li>
                    <li>Holidaze: 5%</li>
                </ol></li>
                <li><ol style="list-style-type:none;">
                    <li>Year 5: 100.000 target users</li>
                    <li>Christian tour: 20%</li>
                    <li>Dertour: 10%</li>
                    <li>Holidaze: 10%</li>
                </ol></li>
            </ol>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="service-heading">Potential Market Value After Launch</h4>
            <p class="text-muted">When accounting for market adjustments and volatility we estimate:</p>
            <ol style="list-style-type:none;">
                <li><ol style="list-style-type:none;">
                    <li>Year 1:</li>
                    <li>Market share: 0.1%</li>
                    <li>Market value: 450.000 Euro</li>
                </ol></li>
                <li><ol style="list-style-type:none;">
                    <li>Year 2:</li>
                    <li>Market share: 0.4%</li>
                    <li>Market value: 2 Million Euro</li>
                </ol></li>
                <li><ol style="list-style-type:none;">
                    <li>Year 3:</li>
                    <li>Market share: 1.5%</li>
                    <li>Market value: 8.5 Million Euro</li>
                </ol></li>
                <li><ol style="list-style-type:none;">
                    <li>Year 4:</li>
                    <li>Market share: 5%</li>
                    <li>Market value: 30 Million Euro</li>
                </ol></li>
                <li><ol style="list-style-type:none;">
                    <li>Year 5:</li>
                    <li>Market share: 10%</li>
                    <li>Market value: 65 Million Euro</li>
                </ol></li>
            </ol>
        </div>
    </div>
</section>

