<!-- description Section -->
<section id="m7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Milestone 7</h2>
                <p><br></p>
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading"><br><br>MVP</h3>
                    <img src="../img/mvp/groups.jpg" width="500rem"></img>
                    <br/><br/>
                    <img src="../img/mvp/group-details.jpg" width="500rem"></img>
                    <br/><br/>
                    <img src="../img/mvp/date-picker.jpg" width="500rem"></img>
                    <br/><br/>
                    <img src="../img/mvp/requirements.jpg" width="500rem"></img>
                    <br/><br/>
                    <img src="../img/mvp/requirement.jpg" width="500rem"></img>
                </div>
            </div>
        </div>
    </div>
</section>   


