<!-- description Section -->
<section id="m7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Milestone 7</h2>
                <p><br></p>
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading"><br><br>MVP</h3>
                    <p>Initially, we tried to develop the MVP using React Native and Expo, along with a Node.js backend. Somewhere along the way, we also tried a low code tool for MVPs called <a src"https://www.glideapps.com">Glide Apps</a>, which made prototyping much quicker and easier, but at the cost of code ownership and customizability.</p>
                    <p>However, given that we intended to use the MVP in order to validate the idea of Holidaze, using Glide enabled us to make a beautiful MVP much faster.</p>
                    <p>The app can be viewed as a website and also installed as an app at the following link: <a href="https://holidaze-gdzg.glideapp.io">https://holidaze-gdzg.glideapp.io</a></p>
                    <p>For the MVP, we decided to implement the critical functionality of Holidaze: group management, showcasing requirements and voting.</p>
                    <p>Below you can see a recording of the main flows in the app:</p>
                    <iframe width="600" height="1000" src="https://www.youtube.com/embed/AU6W3K17fNg"></iframe>
                    <br/><br/>
                    <p>Login/Registration screen</p>
                    <img src="../img/mvp/login.PNG" width="500rem"></img>
                    <br/><br/>
                    <img src="../img/mvp/login-pin.PNG" width="500rem"></img>
                    <br/><br/>

                    <p>Groups screen</p>
                    <img src="../img/mvp/groups.PNG" width="500rem"></img>
                    <br/><br/>

                    <p>Group details screen</p>
                    <img src="../img/mvp/group-details.PNG" width="500rem"></img>
                    <br/><br/>

                    <p>Members screen</p>
                    <img src="../img/mvp/members.PNG" width="500rem"></img>
                    <br/><br/>

                    <p>Requirements screen</p>
                    <img src="../img/mvp/requirements.PNG" width="500rem"></img>
                    <br/><br/>
                    <img src="../img/mvp/requirement.PNG" width="500rem"></img>
                    <br/><br/>

                    <p>Voting screen</p>
                    <img src="../img/mvp/votes.PNG" width="500rem"></img>
                    <br/><br/>
                    <img src="../img/mvp/vote.PNG" width="500rem"></img>
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
</section>   


